<div class="container title">
	<div class="col">
		<p>{{ formTitle }}</p>
	</div>
	<div class="col">
		<p>{{ listTitle }}</p>
	</div>
</div>
<div class="container content">
	<div class="col">
		<form>
			<input type="text" name="name" placeholder="Ingrese el nombre del sitio">
			<input type="text" name="url" placeholder="Ingrese la url del sitio">
			<input type="submit" bind-value="btnText">
		</form>
	</div>
	<div class="col">
		<div>
			<p class="red">
				{{ site.name }}: <br>
				<small>{{ site.url }}</small>	
			</p>
		</div>
		<p *ngFor="let sitio of sitiosInteres" (click)="setSite(sitio)">
			{{ sitio.name }}: <br>
			<small>{{ sitio.url }}</small>
		</p>
	</div>
</div>